/* central box */

.central {
  position: absolute;
  height: 100%;
  left: 5%;
  width: 90%;
  top: 0%;
  max-width: 3000px;
}

/* Model Component */

.astro {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0070f3;
}

.astro model-viewer {
  height: 100%;
  width: 100%;
  background-color: #eaeaea;
}

/* home page */

.background {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 5000px;
  background-color: #02010A;
}

.model {
  position: absolute;
  top: 75px;
  left: 0px;
  width: 65%;
  height: 700px;
}

.model model-viewer {
  height: 100%;
  width: 100%;
  background-color: rgb(44, 44, 44);
}

/* global */

.nav {
  position: absolute;
  top: 0px;
  height: 75px;
  width: 100%;
  background-color: #02010A;
}

.explore {
  position: absolute;
  top: 8px;
  left: 80%;
  font-size: 150%;
  color: white;
  cursor: pointer;
  z-index: 1;
}

.signup {
  position: absolute;
  top: 8px;
  left: 90%;
  font-size: 150%;
  color: white;
  cursor: pointer;
  z-index: 1;
}

.logo {
  position: absolute;
  left: 3%;
  top: 0px;
  width: 75px;
  height: 75px;
  cursor: pointer;
}

/* sign in page */

.sign {
  position: absolute;
  top: 200px;
  left: 30%;
  width: 40%;
  height: 500px;
}

.sign h1 {
  position: absolute;
  top: -10px;
  left: 10%;
  font-size: 250%;
  color: white;
}

.sign button {
  position: absolute;
  top: 90%;
  width: 20%;
  height: 50px;
  left: 40%;
  color: white;
  background-color: transparent;
  border: 2px solid;
  transition: .2s;
}

.sign button:hover {
  background-color: white;
  color: black;
  border: 2px solid;
}

.collection {
  position: absolute;
  top: 100px;
  left: 10%;
  width: 80%;
  height: 70px;
}

.collection label {
  position: absolute;
  top: 0px;
  padding: 0%;
  font-size: 150%;
  font-weight: 500;
  color: white;
}

.collection input{
  margin-top: 30px;
  height: 30px;
  width: 100%;
  border-radius: 5px;
}

.email {
  position: absolute;
  top: 180px;
  left: 10%;
  width: 80%;
  height: 70px;
}

.email label {
  position: absolute;
  top: 0px;
  padding: 0%;
  font-size: 150%;
  font-weight: 500;
  color: white;
}

.email input{
  margin-top: 30px;
  height: 30px;
  width: 100%;
  border-radius: 5px;
}

.password {
  position: absolute;
  top: 260px;
  left: 10%;
  width: 80%;
  height: 70px;
}

.password label {
  position: absolute;
  top: 0px;
  padding: 0%;
  font-size: 150%;
  font-weight: 500;
  color: white;
}

.password input{
  margin-top: 30px;
  height: 30px;
  width: 100%;
  border-radius: 5px;
}

.confirm {
  position: absolute;
  top: 340px;
  left: 10%;
  width: 80%;
  height: 70px;
}

.confirm label {
  position: absolute;
  top: 0px;
  padding: 0%;
  font-size: 150%;
  font-weight: 500;
  color: white;
}

.confirm input{
  margin-top: 30px;
  height: 30px;
  width: 100%;
  border-radius: 5px;
}

/*   Connect Page   */

.connect {
  position: absolute;
  width: 300px;
  height: 50px;
  left: 40%;
  top: 500px;
  color: white;
  background-color: transparent;
  border: 2px solid white;
}

.what {
  position: absolute;
  font-size: 200%;
  color: white;
  top: 25%;
  left: 10%;
}

.name {
    position: absolute;
    font-size: 200%;
    color: white;
    top: 100px;
    left: 10%;
}

/* profile page (card is for testing) */

.card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 100px;
  height: 100px;
  justify-content: space-between;
  background-color: white;
  color: black;
}

.profile input {
  position: absolute;
  top: 75px;
  left: 0%;
  width: 100%;
  height: 400px;
  background-color: #1a1a29;
  color: transparent;
}

.hide {
  position: absolute;
  top: 75px;
  left: 0px;
  width: 100%;
  height: 100px;
  background-color: #1a1a29;
  z-index: 1;
}

/* Side bar nav */

.side {
  position: fixed;
  height: 100%;
  width: 250px;
  border-right: 1px solid rgb(242, 242, 242);
	box-shadow: 0 0 2px 2px rgb(242, 242, 242);
  background-color: #02010A;
  text-align: left;
}

.tabhome {
  margin-top: 150px;
  margin-left: 5%;
  width: 90%;
  height: 50px;
  border-radius: 10px;
  color: white;
  font-size: 75%;
}

.tabhome:hover {
  background-color: #22007c;
  transition: ease-out .25s;
}

.tabhome h1 {
  margin-left: 100px;
  margin-top: 15px;
}

.test {
  position:absolute;
  top: 700px;
  left: 0%;
  width: 100%;
  height: 500px;
}

.test input {
  display: none;
  width: 0px;
}

/* Explore Page */

.break {
  position: absolute;
  left: 3%;
  width: 94%;
  height: 1px;
  top: 600px;
  background-color: white;
}

/* Mint Page */

.background2 {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #02010A;
}

.glb {
  position: absolute;
  left: 2%;
  width: 500px;
  height: 500px;
  top: 225px;
  background-color: rgb(136, 118, 180);
  border-radius: 20px;
  border: 2px solid white;
}

.glb:hover {
  background-color: #241942;
  transition: .2s;
  color: white;
}

.glb:not(:hover) {
  background-color: rgb(136, 118, 180);
  transition: .2s;
}

.glb input {
  width: 100%;
  height: 100%;
  color: transparent;
}

.glb input::file-selector-button {
  display: none;
}

.glbicon {
  position: absolute;
  left: 175px;
  top: 175px;
  width: 150px;
  height: 150px;
}

.glbinput {
  position: absolute;
  left: 45%;
  top: 225px;
  width: 55%;
  height: 500px;
}

.glbinput {
  font-size: 250%;
  color: white;
}

.glbinput button {
  position: absolute;
  margin-top: 20px;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid white;
  background-color: rgb(136, 118, 180);
}

.glbinput button:hover {
  border: 2px solid white;
  color: white;
  background-color: #241942;
  transition: .2s;
}

.glbinput button:not(:hover) {
  background-color: rgb(136, 118, 180);
  color: black;
  transition: .2s;
}


.glbinput input {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  width: 80%;
  height: 35px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: rgb(136, 118, 180);
  color: white;
}

.glbinput input:focus {
  background-color: #241942;
}

.glbinput input::placeholder {
  color: black;
}

.glbinput input:focus::placeholder {
  color: white;
}

.glbinput input::first {
  margin-top: 0px;
}